In [7]:
import numpy as np

In [8]:
my_preds = ['BUF', 'DAL', 'TB', 'NE', 'KC', 'ARI', 'LA', 'GB', 'SF', 'TEN', 'NO', 'IND', 'CIN', 'PHI', 'LAC', 'MIN', 'SEA', 'DEN', 'CLE', 'BAL', 'LV', 'MIA', 'PIT', 'WAS', 'CHI', 'DET', 'CAR', 'ATL', 'NYJ', 'JAX', 'HOU', 'NYG']
pff_preds = ['KC', 'GB', 'TB', 'BUF', 'LA', 'DAL', 'NE', 'TEN', 'SF', 'IND', 'CIN', 'ARI', 'PHI', 'NO', 'CLE', 'LV', 'MIA', 'PIT', 'LAC', 'BAL', 'MIN', 'SEA', 'CHI', 'DEN', 'WAS', 'ATL', 'CAR', 'NYG', 'HOU', 'NYJ', 'DET', 'JAX']

In [9]:
differences = []

for team_idx in range(len(pff_preds)): 
  team = pff_preds[team_idx]
  my_idx = my_preds.index(team)
  differences.append(abs(team_idx - my_idx))

In [10]:
print(np.mean(differences))

3.0

In [12]:
for team in range(len(pff_preds)):
  print('\nTeam : ', pff_preds[team], 'Ranking : ', team + 1)

Team :  KC Ranking :  1

Team :  GB Ranking :  2

Team :  TB Ranking :  3

Team :  BUF Ranking :  4

Team :  LA Ranking :  5

Team :  DAL Ranking :  6

Team :  NE Ranking :  7

Team :  TEN Ranking :  8

Team :  SF Ranking :  9

Team :  IND Ranking :  10

Team :  CIN Ranking :  11

Team :  ARI Ranking :  12

Team :  PHI Ranking :  13

Team :  NO Ranking :  14

Team :  CLE Ranking :  15

Team :  LV Ranking :  16

Team :  MIA Ranking :  17

Team :  PIT Ranking :  18

Team :  LAC Ranking :  19

Team :  BAL Ranking :  20

Team :  MIN Ranking :  21

Team :  SEA Ranking :  22

Team :  CHI Ranking :  23

Team :  DEN Ranking :  24

Team :  WAS Ranking :  25

Team :  ATL Ranking :  26

Team :  CAR Ranking :  27

Team :  NYG Ranking :  28

Team :  HOU Ranking :  29

Team :  NYJ Ranking :  30

Team :  DET Ranking :  31

Team :  JAX Ranking :  32